# "test" suffix properties file. Scopes name samples: "test", "web-test", "api-test", etc.
# Overrides application.yml default properties

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:quality
    initialization-mode: always
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect


server:
  port: 8082 # no cambiar en prod